.display-img{
    width: 480px;
    height: 400px;
    object-fit: cover;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.logo-img{
    height: 100px;
    width: 250px;
    margin-top: 5px;
}